@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "alfa-slab-one";
  src: url("../src/fonts/AlfaSlabOne-Regular.ttf") format("truetype");
}

body {
  font-family: "alfa-slab-one", sans-serif;
  background-color: #292929;
  color: #fcfbf4;
  letter-spacing: 0.5px;
}
